.currency-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  width: 600px;
  height: 200px;
  border: 1px solid black;
}
.amount {
  margin-right: 10px;
  width: 150px;
  height: 40px;
}
.from-currency-option {
  width: 100px;
  height: 40px;
  margin-right: 10px;
}
.arrow-right {
  font-size: 30px;
  margin-right: 10px;
  margin-top: 5px;
}
.to-currency-option {
  width: 100px;
  height: 40px;
  margin-right: 10px;
}
.result {
  width: 150px;
  height: 40px;
}
.title-div {
  background-color: black;
  width: 100%;
  height: 20px;
  margin-bottom: 25px;
  text-align: center;
}
.title-currency {
  margin-top: -20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: black;
  color: #fff;
  padding: 10px;
}
.currency-btn {
  width: 80px;
  height: 30px;
  color: white;
  background-color: rgb(235, 0, 0);
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
